* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rambla', sans-serif;
}

body {
  background: #f3f2ee;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 950px;
  height: 59px;
  padding: 13px;
}

header .container #pesquisa {
  display: flex;
  width: 300px;
}

header .container #pesquisa div {
  display: flex;
  align-items: center;
  background: #eef3f7;
  border-radius: 7px;
  padding: 10px;
  height: 34px;
  margin-left: 10px;
}

header .container #pesquisa div input {
  background: transparent;
  border: none;
  outline: none;
  height: 34px;
  width: 200px;
  padding: 10px;
  transition: 0.2s;
}

header .container #pesquisa div input:focus {
  width: 230px;
}

header .container #pesquisa div img {
  height: 14px;
  width: 14px;
}

header .container #menu {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

header .container #menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
}

header .container #menu div:hover {
  opacity: 1;
}

header .container #menu div span {
  font-size: 14px;
}

header .container #menu img {
  height: 20px;
  width: 20px;
}

header .container #perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .container #perfil img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

header .container #perfil span {
  font-size: 14px;
}

@media only screen and (max-width: 750px) {
  header .container #pesquisa {
    width: 50px;
  }

  header .container #menu {
    width: 200px;
  }

  header .container #menu div span,
  header .container #pesquisa div input,
  header .container #perfil span {
    display: none;
  }

  header .container #pesquisa div {
    background: transparent;
    padding: 5px;
  }

  header .container #menu img {
    height: 25px;
    width: 25px;
  }
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px 10px;
}

main div#feed {
  width: 100%;
  max-width: 930px;
}

/* Profile Box */
section#profile {
  position: relative;
  height: 350px;
}

section#profile > div#picture {
  position: absolute;
  top: 80px;
  left: 20px;
  background: url('https://avatars.githubusercontent.com/u/70300680?v=4');
  background-size: cover;
  width: 106px;
  height: 106px;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

section#profile > div#banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45%;
  background: url('imagens/banner.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

section#profile > div#details {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

section#profile > div#details .container {
  padding: 35px 25px;
}

section#profile > div#details .container h1 {
  font-size: 20px;
  margin-bottom: 8px;
}

section#profile > div#details .container p {
  font-size: 14px;
}

section#profile > div#details .container span {
  color: #999999;
}

section#profile > div#details .container button {
  border: none;
  box-shadow: none;
  outline: none;
  margin: 15px 10px 0 0;
  width: auto;
  min-width: 99px;
  padding: 5px;
  font-size: 12px;
  background: #ffffff;
  border: 1px solid #666666;
  border-radius: 15px;
  color: #666666;
  cursor: pointer;
}

section#profile > div#details .container button:hover {
  background: rgb(224, 224, 224);
  border: 1px solid #000;
}

section#profile > div#details .container button.selected {
  background: #0b65c2;
  border: none;
  width: 131px;
  color: #fff;
}

section#profile > div#details .container button.selected:hover {
  background: #004182;
  border: none;
  width: 131px;
  color: #fff;
}

@media only screen and (max-width: 750px) {
  section#profile > div#details .container button {
    margin: 15px 3px 0 0;
    font-size: 11px;
    min-width: 70px;
  }

  section#profile > div#details .container button.selected,
  section#profile > div#details .container button.selected:hover {
    width: 110px;
  }
}

/* Guides Box */
section#guides {
  background: #fff;
  border-radius: 10px;
  margin-top: 40px;
}

section#guides h2 {
  padding: 26px 0 36px 0;
  font-size: 18px;
}

section#guides span#border {
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebeb;
  margin: 10px 0 10px 0;
}

section#guides article {
  padding: 2px 26px 26px 26px;
}

section#guides article div {
  display: flex;
}

section#guides article div div#left img {
  height: 60px;
  width: 60px;
}

section#guides article div div#right ul {
  padding-left: 30px;
  list-style-type: none;
  font-size: 16px;
}

section#guides article div div#right ul .fw-bold {
  font-weight: bold;
}

section#guides article div div#right ul .fc-gray {
  color: #999999;
}

/* Footer */
footer {
  padding: 15px;
  text-align: center;
  font-weight: light;
}

footer p {
  opacity: 0.3;
}
